@{
    ViewData["Title"] = "Home Page";
}


<div class="two">
    <h1>川口研にようこそ</h1>
    <p>
        新4年生の皆さん，川口研にようこそ!
        ここは，制御システム研究室と呼ばれる主に制御についての研究を行っているところです．
        みなさんは制御と聞いて何を思い浮かびますか？
        自動車の自動運転やロボットを動かしたり，最近だとドローンを飛ばすことなどが浮かぶと思います．
        この研究室では，ドローンや冗長系，マルチエージェント，故障診断などの研究を行っています．
        ただ，自分の興味がある制御系の研究がある場合は全然その研究を行っていただいてもかまいません．
        では，これから同じ研究室で頑張っていきましょう！
    </p>
    <h2>ソフト導入について</h2>
    <p>
        これから，研究生活を送るにあたって入れておいた方が良いと思うソフトや学んでほしいプログラミング言語などの紹介したいと思います．
        このホームページを読んでソフトの導入を行ってください．
        では，これから頑張っていきましょう！
    </p>
    <h3>Visual Studio Code (VScode)</h3>
    <p>
        <a href="https://tb17kin.github.io/Homepage_statqvar/output/vscode">VScodeについて</a>
    </p>
    <h3>Slack</h3>
    <p>
        <a href="https://tb17kin.github.io/Homepage_statqvar/output/slack">Slackについて</a>
    </p>
    <h3>LaTex</h3>
    <p>
        <a href="https://tb17kin.github.io/Homepage_statqvar/output/latex">LaTexについて</a>
    </p>
    <h3>MATLAB</h3>
    <p>
        <a href="https://tb17kin.github.io/Homepage_statqvar/output/matlab">MATLABについて</a>
    </p>
    <h3>Inkscape</h3>
    <p>
        <a href="https://tb17kin.github.io/Homepage_statqvar/output/inkscape">Inkscapeについて</a>
    </p>
    <h3>その他のソフトやプログラミング言語</h3>
    <p>
        <a href="https://tb17kin.github.io/Homepage_statqvar/output/others">その他のソフトやプログラミング言語</a>
    </p>
</div>